.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141C4D;
  height: 100%;
}

.text {
  font-size: 4rem;
  font-weight: bold;
  color: #F04E98;
  text-transform: uppercase;
}